{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <h1>Signup</h1>
    <form method = "post">
        {% csrf_token %}
        {{ signup_form.as_p }}
        <button>Signup</button>
    </form>
{% endblock content %}
